{{#if userLoggedIn}}
  <header class="small-header">
    <h1>{{#link-to 'index'}}Pluto{{/link-to}}</h1>
    <div class="header-actions">
      <button {{action 'signOut'}} class="signout">
        {{svg 'account-logout'}}
        <span>Sign Out</span>
      </button>
    </div>
  </header>
  <form class="entry-form">
    <ul>
      <li>
        <input type="text" name="time" />
      </li>
      <li>
        <label for="onsite">On-site</label>
        <input type="radio" name="location" id="onsite" value="onsite" checked="checked" />
        <label for="remote">Remote</label>
        <input type="radio" name="location" id="remote" value="remote" />
      </li>
    </ul>
    <button type="submit">Log it.</button>
  </form>
{{else}}
  <section class="splash">
    <header>
      <h1>Plu<span class="t-kern">t</span>o</h1>
      <h2>Keeper of Time</h2>
    </header>
    <content>
      <p>This app is designed to track hours worked in a day, and wether they are remote or onsite, and that's it. No extra bells or whistles.</p>
      <div class="actions">
        {{#link-to 'sign-up'}}{{svg 'clipboard'}} Sign Up{{/link-to}} or {{#link-to 'sign-in'}}{{svg 'account-login'}} Sign in{{/link-to}}
      </div>
    </content>
  </section>
{{/if}}
