{{#if userLoggedIn}}
  <header class="small-header">
    <h1>{{#link-to 'index'}}Pluto{{/link-to}}</h1>
    <div class="header-actions">
      <button {{action 'signOut'}} class="signout">
        {{svg 'account-logout'}}
        <span>Sign Out</span>
      </button>
    </div>
  </header>
  <form class="entry-form">
    <ul>
      <li class="date-toggle">
        <input type="radio" name="date" id="day-before" {{bind-attr value="dayBeforeValue"}} />
        <label for="day-before">{{dayBefore}}</label>
        <input type="radio" name="date" id="yesterday" {{bind-attr value="yesterdayValue"}}/>
        <label for="yesterday">{{yesterday}}</label>
        <input type="radio" name="date" id="today" checked="checked" {{bind-attr value="todayValue"}} />
        <label for="today">{{today}}</label>
        <input type="radio" name="date" id="selected-date" />
        <label for="selected-date">{{svg 'calendar'}} Calendar</label>
      </li>
      <li>
        <input type="text" name="time" />
      </li>
      <li class="location-toggle">
        <input type="radio" name="location" id="onsite" value="onsite" checked="checked" />
        <label for="onsite">On-site</label>
        <input type="radio" name="location" id="remote" value="remote" />
        <label for="remote">Remote</label>
      </li>
    </ul>
    <button type="submit">Log it.</button>
  </form>
{{else}}
  <section class="splash">
    <header>
      <h1>Plu<span class="t-kern">t</span>o</h1>
      <h2>Keeper of Time</h2>
    </header>
    <content>
      <p>This app is designed to track hours worked in a day, and wether they are remote or onsite, and that's it. No extra bells or whistles.</p>
      <div class="actions">
        {{#link-to 'sign-up'}}{{svg 'clipboard'}} Sign Up{{/link-to}} or {{#link-to 'sign-in'}}{{svg 'account-login'}} Sign in{{/link-to}}
      </div>
    </content>
  </section>
{{/if}}
