<header class="small-header">
  <h1>{{#link-to 'index'}}Pluto{{/link-to}}</h1>
  {{#if userLoggedIn}}
    <div class="header-actions">
      {{#link-to 'index' classNames="document"}}
        {{svg 'document'}}
        <span>Share</span>
      {{/link-to}}
      <button {{action 'signOut'}} class="signout">
        {{svg 'account-logout'}}
        <span>Sign Out</span>
      </button>
    </div>
  {{/if}}
</header>

<content class="profile">
  <section class="percentage">
    <header>
      <h2>Totals</h2>
      <ul class="key">
        <li>Total <span>{{totalHours}}</span></li>
        <li>On-site{{svg 'media-record'}}<span>{{onsiteHours}}</span></li>
        <li>Off-site{{svg 'media-record'}}<span>{{offsiteHours}}</span></li>
      </ul>
    </header>
    <div class="date-selector">
      <input type="hidden" id="start-datepicker-value" {{bind-attr value="start_date"}} {{bind-attr data-value="start_date"}} />
      <button class="start button" {{action 'triggerCalendar' 'start-datepicker'}}>
        {{svg 'calendar'}}
        {{formattedStartDate}}
      </button>
      to
      <input type="hidden" id="end-datepicker-value" {{bind-attr value="end_date"}} {{bind-attr data-value="end_date"}} />
      <button class="end button" {{action 'triggerCalendar' 'end-datepicker'}}>
        {{svg 'calendar'}}
        {{formattedEndDate}}
      </button>
    </div>
    <div class="pie-chart">
      <div class="pie-chart-wrap">
        <canvas id="standard-report"></canvas>
      </div>
    </div>
  </section>
</content>
