<section class="weekly-hours-table">
  <table>
    <tr>
      <th>Weekday</th>
      <th>On-site</th>
      <th>Off-site</th>
      <th>Total</th>
    </tr>
    <tr>
      <th>Sunday</th>
      <th>{{weeklyHours.sunday.onsite}}</th>
      <th>{{weeklyHours.sunday.offsite}}</th>
      <th>{{weeklyHours.sunday.total}}</th>
    </tr>
    <tr>
      <th>Monday</th>
      <th>{{weeklyHours.monday.onsite}}</th>
      <th>{{weeklyHours.monday.offsite}}</th>
      <th>{{weeklyHours.monday.total}}</th>
    </tr>
    <tr>
      <th>Tuesday</th>
      <th>{{weeklyHours.tuesday.onsite}}</th>
      <th>{{weeklyHours.tuesday.offsite}}</th>
      <th>{{weeklyHours.tuesday.total}}</th>
    </tr>
    <tr>
      <th>Wednesday</th>
      <th>{{weeklyHours.wednesday.onsite}}</th>
      <th>{{weeklyHours.wednesday.offsite}}</th>
      <th>{{weeklyHours.wednesday.total}}</th>
    </tr>
    <tr>
      <th>Thursday</th>
      <th>{{weeklyHours.thursday.onsite}}</th>
      <th>{{weeklyHours.thursday.offsite}}</th>
      <th>{{weeklyHours.thursday.total}}</th>
    </tr>
    <tr>
      <th>Friday</th>
      <th>{{weeklyHours.friday.onsite}}</th>
      <th>{{weeklyHours.friday.offsite}}</th>
      <th>{{weeklyHours.friday.total}}</th>
    </tr>
    <tr>
      <th>Saturday</th>
      <th>{{weeklyHours.saturday.onsite}}</th>
      <th>{{weeklyHours.saturday.offsite}}</th>
      <th>{{weeklyHours.saturday.total}}</th>
    </tr>
  </table>
</section>
